.navbar{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    height: 70px;
}
.titulo{
    display: flex;
    justify-content:space-around;
    letter-spacing: 2.5px;
    align-items: center;
    
   
}


.cabezera{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

a{
   display: flex;
   font-size: 20px;
    margin: 25px;
    text-decoration: none;
    color: black;
    padding: 5px;
    align-items: center;
    letter-spacing: 1.5px;
    
    }
    
  

    .material-symbols-outlined{
        display: flex;
       align-items: center;
       
        }

/*----------------estructura cards----------------------------------
*/
.cardContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 60px;
    
    
    
    
    
}

.cardBody{
display: flex;
height: 480px;
width:  15%;
justify-content: center;
flex-direction: column;
padding: 20px;
align-items: center;
border: 2px solid black;
margin: 20px;
}

.detalle img{
    height: 150px;
    width: 200px;
}

.detalle{
display: flex;
height: 300px;
width:  15%;
justify-content: center;
flex-direction: column;
padding: 20px;
align-items: center;
border: 2px solid red;
margin: 20px;
}

