.navbar{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    height: 70px;
}
.titulo{
    display: flex;
    font-size: 35px;
    justify-content: center;
    letter-spacing: 2.5px;
    align-items: center;
    
   
}


.cabezera{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

a{
   font-size: 20px;
    margin: 25px;
    text-decoration: none;
    color: black;
    
    }